.header {
  position: absolute;
  right: 70px;
  top: 70px;
}

.panel-account {
  display: inline-block;
  position: relative;
  &:hover .panel-account__dropdown {
    display: block;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--grey-background-color);
  }

  &__dropdown {
    display: none;
    position: absolute;
    padding: 20px;
  }

  &__link {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    transition: color .2s ease-in;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      color: var(--accent-color);
    }
  }
}
