<section class="authorization">
  <div class="container">
    <div class="wrapper">
      <form class="form" method="post">
        <h2 class="form__title">Войти</h2>
        <div class="form__input">
          <input type="email" name="email" placeholder="Email" class="input input-reset" required>
        </div>
        <div class="form__input">
          <input type="password" name="password" placeholder="Пароль" class="input input-reset" required>
        </div>

       <div class="form__btns">
        <a href="dashboard.html" class="form__account button btn-reset">Создать аккаут</a>
        <button class="form__login button btn-reset" type="submit">Войти</button>
       </div>
      </form>
    </div>
  </div>
</section>
