<header class="header">
  <div class="panel-account">
    <div class="panel-account__item">
      <div class="panel-account__info">
        <h3 class="panel-account__name third-title">Your name</h3>
        <p class="panel-account__role desc">Manager</p>
      </div>
      <div class="panel-account__avatar">
        <!-- <img src="@img" alt="Avatar"> -->
      </div>
    </div>
    <div class="panel-account__dropdown border-style">
      <a href="#" class="panel-account__link">Кабинет</a>
      <a href="#" class="panel-account__link">Выход</a>
    </div>
  </div>
</header>
